:root {
  --cl-light: #fff;
  --cl-light-gray: hsl(0, 0%, 98%);
  --cl-text: rgb(10, 48, 58);
  --cl-textHovered: rgb(10, 48, 58, 0.8);

  --cl-primary: rgb(15 76 92);
  --cl-accent: rgb(227 100 20);
  --cl-accent-light: rgba(227, 100, 20, 0.8);
  --cl-accent-very-light: #e3641433;

  --cl-orange: rgb(214 40 40);
  /* --cl-orangeOpasity: rgba(214, 40, 40, 0.9); */
  --cl-yellow: rgb(251 139 36);
  --cl--red: rgb(154 3 30);

  --ff-primary: 'Be Vietnam Pro', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-headings: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-400: 1rem;
  --fs-450: 1.2rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.3rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --fs-body: var(--fs-400);
  --fs-secondary-headings: var(--fs-500);
  --fs-headings: var(--fs-600);

  --footer-logo: var(--cl-light);
}

@media (min-width: calc( 50em + 1px)) {
  :root {
    --fs-body: var(--fs-450);
    --fs-small-headings: var(--fs-700);
    --fs-secondary-headings: var(--fs-700);
    --fs-headings: var(--fs-900);
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set core body defaults */
.body-wrapper {
  min-height: 100vh;
  text-rendering: optimizeSpeed;

  line-height: 1.5;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--cl-text);
}

/* Utility classes */
.container {
  --max-width: 1110px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}
.section {
  padding-top: 3.6em;
  padding-bottom: 3.6em;
}
.even-columns {
  display: grid;
  gap: 1rem;
}
.flow > * + * {
  margin-top: 1.2em;
  border: 1px solid red;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
.overflow-hidden {
  overflow: hidden;
}
.flex-senter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  font-size: var(--fs-headings);
  font-weight: var(--fw-bold);

  margin-bottom: 0.3em;
}
.title--secondary {
  font-size: var(--fs-secondary-headings);
  font-weight: var(--fw-bold);
}
.small-title {
  --fs-small-headings: var(--fs-700);
  font-weight: var(--fw-bold);

  margin-bottom: 0.4em;
}

/* ---------------- button ----------------------*/
.btn {
  display: inline-block;
  border-radius: 2rem;
  padding: 0.5em 1em;
  /* line-height: 1;  makes test centerd*/

  border: none;
  background-color: var(--cl-accent);
  color: var(--cl-light);

  text-decoration: none;
  cursor: pointer;

  text-align: center;
  transition: all 0.25s ease-out;
}
.btn:hover,
.btn:focus-visible {
  background-color: var(--cl-orange);
  /* box-shadow: 1em 1em 1em -1em var(--cl-orange); */
  /* box-shadow: 16px 16px 16px -16px var(--cl-orange); */

  box-shadow: 1em 1em 1em -1em rgb(214 40 40);
  /* opacity: 0.9; */
}

.btn--conwerted {
  background-color: var(--cl-light);
  color: var(--cl-accent);
}
.btn--conwerted:hover,
.btn--conwerted:focus-visible {
  color: var(--cl-light);
  box-shadow: 1em 1em 1em -1em rgb(154 3 30);
}
/* ---------------- button End ----------------------*/
/* ---------------- Slider ----------------------*/
.slider {
  position: relative;
  overflow: hidden;
  /* height: 24rem; */
  max-height: 26em;
}
.slick-track {
  display: flex;
  /* gap: 20px; */
}
/* .slick-list {
  overflow: hidden;
} */
.slider__item {
  text-align: center;
  padding: 0 1em;
}
/* .slider__item + .slider__item  */
.slider__img {
  margin: auto;
}
.slider__content {
  background-color: rgba(227, 100, 20, 0.2);
  padding: 1em 2em;
  /* height: 12rem; */
}
/* .slider__text {
  max-width: 600px;
} */
.slider .slick-arrow {
  padding: 0;
  position: absolute;
  top: 50%;

  width: 60px;
  height: 60px;
  /* margin-top: -30px; */

  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.25s ease-out;
}
.slider .slick-arrow:hover,
.slider .slick-arrow:focus {
  opacity: 0.8;
}
.slider .slick-prev {
  left: 1rem;
  left: 0;
  background-image: url(./images/circle-left.svg);
}
.slider .slick-next {
  background-image: url(./images/circle-right.svg);
  right: 1rem;
  right: 0;
}

.slider .slick-dots {
  display: flex;
  gap: 2.2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.slider li button {
  font-size: 0;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  border: 2px solid var(--cl-textHovered);
  background-color: transparent;
  transition: all 0.25s ease-out;
}
.slider .slick-active button {
  background-color: var(--cl-textHovered);
}
/* @media (max-width: 50em) {
  .slider > * {
    width: 50%;
  }
}

@media (min-width: calc( 50em + 1px)) {
  .slider > * {
    width: 33.3333%;
  }
} 

/* ---------------- Slider End ----------------------*/

/* ---------------- Header ----------------------*/
.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  padding-top: 3rem;
  padding-bottom: 3rem;
}
.header__logo {
  margin-right: auto;
}
.header-nav__link {
  font-weight: var(--fw-bold);
  color: var(--ff-body);
  transition: color 0.25s ease-out;
}
.header-nav__link:hover {
  /* color: var(--cl-textHovered); */
  color: var(--cl--red);
}

/* ---------------- Hero ----------------------*/
.hero {
  position: relative;
}

.hero__images::before {
  content: '';
  position: absolute;
  /* inset: 0; */
  background-image: url(./images/bg-tablet-pattern.svg);
  /* background-position: 600px -160px; */
  background-position: -9px -160px;
  aspect-ratio: 1 / 1.3;
  max-width: 50%;
  background-position: -9px -160px;
  background-size: cover;

  top: -200px;
  right: 0;
  bottom: 0;
  /* left: 0; */
  border: 3px solid red;
  background-repeat: no-repeat;
  z-index: -1;
  /* opacity: 0.3; */
  /* background-color: rgb(80, 41, 195); */
}

/* ---------------- Hero End ----------------------*/

/* ---------------- Differences ----------------------*/
.differences__column {
  max-width: 600px;
  margin: 0 auto;
}
.differences__list {
  counter-reset: count;
}
.differences__small-title {
  position: relative;
  counter-increment: count;
  /* width: fit-content; */
}
.differences__small-title::before {
  position: absolute;
  content: '0' counter(count);

  left: -5rem;
  padding: 0.1em 1em;
  border-radius: 2rem;
  background-color: var(--cl-accent);
  color: var(--cl-light);
}
/* ---------------- Differences End ----------------------*/

.bottom-section {
  position: relative;
  isolation: isolate;
  background-color: var(--cl-accent-light);
  color: var(--cl-light);
}
.bottom-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(./images/bg-simplify-section-mobile.svg);
  background-position: left top;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
}

/* ---------------- Carousel  ----------------------*/
.section-slider {
  text-align: center;
}
/* ---------------- Carousel End ----------------------*/

/*-------------------- Footer --------------------- */
.footer {
  background-color: var(--cl-primary);
  background-color: var(--cl-text);
  color: var(--cl-light);
}
.footer__logo-social {
  display: flex;
}

.footer__logo-svg {
  fill: var(--cl-light);
}
.footer__logo:hover .footer__logo-svg {
  fill: var(--cl-accent);

  transition: fill 0.25s;
}
.social-list {
  display: flex;
  gap: 1em;
}
.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--cl-light);

  transition: all 0.25s ease-out;
}
.social-item:hover .icon,
.social-item:focus .icon {
  fill: var(--cl-accent);
}

.footer-nav {
  columns: 2;
  /* min-width: 304px; */
  gap: min(11vw, 2rem);
}
.footer-nav__link {
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease-out;
}
.footer-nav__link:hover,
.footer-nav__link:focus {
  color: var(--cl-accent);
}

.footer__form-wrapper {
  gap: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.footer__form {
  display: flex;
  gap: 0.4rem;
  border: 1px solid red;
}
.copyright {
  opacity: 0.8;
}
/*-------------------- Footer End--------------------- */

@media (max-width: 50em) {
  /* --------------- header-navigation --------------------*/

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* background-image: linear-gradient(rgb(0 0 0/0), rgb(0 0 0/0.8)); */
    transition: all 0.4s;
  }
  .mobile-nav--toggle {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: transparent;

    z-index: 5;
    cursor: pointer;
    transition: all 0.2s;
  }

  .burger-line {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 2px;

    background-color: var(--cl-text);
    transition: all 0.2s;
  }
  .burger-line::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 5px;
    width: 30px;
    height: 3px;
    border-radius: 2px;

    background-color: var(--cl-text);
    transition: all 0.2s;
  }
  .burger-line::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 4px;
    width: 30px;
    height: 3px;
    border-radius: 2px;

    background-color: var(--cl-text);
    transition: all 0.2s;
  }
  .mobile-nav--toggle.nav-active > .burger-line--middle {
    background-color: transparent;
  }
  .mobile-nav--toggle.nav-active > .burger-line::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .mobile-nav--toggle.nav-active > .burger-line::after {
    transform: rotate(45deg);
    bottom: calc(50% - 2px);
  }

  .nav-wrapper {
    position: absolute;
    width: 90%;
    margin: auto;
    padding: 3rem;

    left: -100%;
    top: 0;
    bottom: 0;
    background-color: var(--cl-light-gray);
    /* background-color: var(--cl-orange); */
    text-align: center;

    overflow: auto;
    transition: all 0.5s;
    z-index: 4;
  }

  .nav-wrapper.nav-active {
    left: 10%;
  }

  .header-nav__item + .header-nav__item {
    margin-top: 1rem;
  }
  .header-nav__btn {
    margin-bottom: 0;
    margin-top: 2rem;
  }
  .header-nav__link {
    font-weight: var(--fw-bold);
    font-size: var(--fs-headings);
    color: var(--ff-body);
    transition: color 0.25s ease-out;
  }
  /* ---------------- Differences mobile ----------------------*/
  .differences__small-title {
    padding-left: 4.4rem;
    padding-bottom: 0.3rem;
    border-radius: 0.6rem;
    background-color: rgba(227, 100, 20, 0.1);
  }
  .differences__small-title::before {
    left: 0;
  }
  /* ---------------- Differences mobile End ----------------------*/

  /* ---------------- Carousel ----------------------*/
  /* .slick-track {
    gap: 0;
  } */
  /* ---------------- Carousel End ----------------------*/
  .bottom-section__right {
    text-align: center;
  }
  .footer__columns {
    display: grid;
    grid-template-areas: 'logo-social' 'nav' 'form';
  }
  .footer__columns > * {
    margin-inline: auto;
  }

  .footer__logo-social {
    grid-area: form;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2rem;
    gap: 1.6rem;
  }
  .footer__form-wrapper {
    margin-top: 2rem;
  }
}
/* --------------- header-navigation End--------------------*/

@media (min-width: calc( 50em + 1px)) {
  .section {
    padding-top: 3.6em;
    padding-bottom: 3.6em;
  }
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  /* --------------- header-navigation Desctop --------------------*/
  .nav-wrapper {
    display: flex;
    align-items: flex-end;
  }
  .header-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: clamp(0.8rem, 3vw, 3rem);
  }
  .header-nav__btn {
    margin-left: clamp(1rem, 3vw, 3rem);
  }
  .mobile-nav--toggle {
    display: none;
  }
  /* --------------- header-navigation End --------------------*/

  /*-------------------- Hero Desctop --------------------- */
  /* --------------- Hero --------------------*/
  .hero__content {
    padding-top: 3em;
  }
  .hero__images::before {
    background-position: 600px -160px;
  }
  /*-------------------- Hero Desctop End--------------------- */

  /* ---------------- Differences Desctop ----------------------*/
  .even-columns__differences {
    gap: 6rem;
  }

  /* ---------------- Differences Desctop End ----------------------*/

  /* ---------------- Carousel Desctop  ----------------------*/
  .section-slider {
    text-align: center;
  }

  /* ---------------- Carousel Desctop End ----------------------*/

  /*-------------------- Bottom-section Desctop --------------------- */
  .bottom-section__right {
    text-align: right;
  }
  .bottom-section::before {
    background-image: url(./images/bg-simplify-section-desktop.svg);
  }
  /*-------------------- Bottom-section Desctop End--------------------- */
  /*-------------------- Footer Desctop --------------------- */
  .footer__columns {
    display: grid;
    grid-template-areas: 'logo-social nav nav form';
    gap: 1rem;
  }
  .footer__logo-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 3;
  }
  .footer-nav {
    grid-area: nav;
  }
  .footer__social-list {
    gap: 0.6em;
  }

  .icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  /*-------------------- Footer Desctop  End--------------------- */
}
